body
  h1 Photos

  p
    a(class="btn-back", href="../") Back

  p Submit a new photo:
  form(action="/photos", method="post", enctype="multipart/form-data")
    input(type="file", name="image")
    input(type="submit")

  #objects
    table(border=1)
      if objects.length > 0
        th ID
        th Type
        th Date
        th Link

      - each obj in objects
        tr.obj
            td.key= obj._id
            td.key= obj.ext
            td.key= obj.created_at
            td
              a(class = "btn-to", href="photos/" + obj._id) View
