body
  h1 Welcome to Thrive!
  
  p Make a new Card:
    form(action="/cards", method="post", enctype="multipart/form-data")
      input(type="text", name="message", placeholder="Message Text")
      input(type="file", name="image")
      input(type="submit")
  
  #objects
    table(border=1)
      if objects.length > 0
        th ID
        th Date
        th Thumbnail
        th Message

      - each obj in objects
        tr.obj
          td.key= obj._id
          td.key= obj.created_at
          td
            if obj.photoId
              img(src='photos/' + obj.photoId)
            else
              p No Photo
          td.key= obj.message